*{
    /*margin:0px;
    padding:0px;*/
    vertical-align: top;
}
div.row div{
    width:20px;
    height:20px;
    /*border:1px solid black;*/
    display:inline-block;
}

div.brick{
    /*border:1px solid blue;*/
    background-color: blue;
}
div.coin{
    background-image: url('coin.gif');
    background-repeat: no-repeat;
    background-position: center;
}
div.cherry{
    background-image: url('gman.gif');
    background-repeat: no-repeat;
    background-position: center;
    display:inline-block;
}
div.black{
    color:black;
    background-color: black;
}
div.empty{

}

body{
    /*background-color: black;*/
    margin:0px;
    /*background-color: gray;*/
}

div.wrapper{
    background-color: black;
    /*text-align: center;*/
    width:450px;
    height:440px;
    box-sizing: border-box;
    /*padding:10px;*/
    display:inline-block;
}
div#pacman{
    background-image: url('pacman.gif');
    background-repeat: no-repeat;
    background-position: center;
    /*background-size: 80% 80%;*/
    background-size: cover;
    width: 20px;
    height: 20px;
    position: absolute;
}
div#score{
    display:inline-block;
    border: 2px solid black;
    width:90px;
    height:30px;
    color: black;
    text-align: center;
    padding:3px;
    box-sizing: border-box;
}
